{% extends 'base.html.twig' %}

{% block page_title %}Edit Ingredient Type Field{% endblock %}
{% block page_subtitle %}configuration{% endblock %}

{% block page_content %}
    {{ include('ingredient_type_field/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('ingredient_type_field_index') }}"><i class="fas fa-list"></i></a>

    {{ include('ingredient_type_field/_delete_form.html.twig') }}
{% endblock %}
