{% extends 'base.html.twig' %}

{% block page_title %}New Ingredient Type Field{% endblock %}
{% block page_subtitle %}configuration{% endblock %}

{% block topRight %}
    <a href="{{ path('ingredient_type_field_index') }}" class="btn btn-primary"><i class="fas fa-list"></i></a>
{% endblock %}

{% block body %}
    {{ include('ingredient_type_field/_form.html.twig') }}
{% endblock %}
