.table.table-bordered.table-recipe tr th:first-child,
.table.table-bordered.table-recipe tr td:first-child{
    width: 200px;
}

@media dompdf {
    .content-header,
    .main-header,
    .main-sidebar,
    .sidebar,
    .header {
        display: none;
    }

    .wrapper {
        background-color: transparent !important;
    }
}
