{% extends 'base.html.twig' %}

{% block page_title %}Locations{% endblock %}
{% block page_subtitle %}configuration{% endblock %}

{% block topRight %}
    <a href="{{ path('location_new') }}" class="btn btn-primary"><i class="fas fa-plus"></i>&nbsp;Create new</a>
{% endblock %}

{% block body %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for location in locations %}
            <tr>
                <td>{{ location.name }}</td>
                <td>
                    <a href="{{ path('location_show', {'id': location.id}) }}" class="btn btn-default"><i class="fas fa-eye"></i></a>
                    <a href="{{ path('location_edit', {'id': location.id}) }}" class="btn btn-default"><i class="fas fa-edit"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
