{% extends 'base.html.twig' %}

{% block page_title %}New Location{% endblock %}
{% block page_subtitle %}configuration{% endblock %}

{% block topRight %}
    <a href="{{ path('location_index') }}" class="btn btn-default"><i class="fas fa-list"></i></a>
{% endblock %}

{% block body %}
    {{ include('location/_form.html.twig') }}
{% endblock %}
