{% extends 'base.html.twig' %}

{% block page_title %}Brewery{% endblock %}
{% block page_subtitle %}configuration{% endblock %}

{% block topRight %}
    <a href="{{ path('brewery_new') }}" class="btn btn-primary"><i class="fas fa-plus"></i>&nbsp;Create new</a>
{% endblock %}

{% block body %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th style="width: 120px;">actions</th>
            </tr>
        </thead>
        <tbody>
        {% for brewery in breweries %}
            <tr>
                <td>{{ brewery.name }}</td>
                <td>
                    <a href="{{ path('brewery_show', {'id': brewery.id}) }}" class="btn btn-default"><i class="fas fa-eye"></i></a>
                    <a href="{{ path('brewery_edit', {'id': brewery.id}) }}" class="btn btn-default"><i class="fas fa-edit"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
