{% extends '@AdminLTE/layout/default-layout.html.twig' %}
{% block logo_path %}{% endblock %}
{% block logo_mini %}{% endblock %}
{% block logo_large %}<b>Beer</b>zzz{% endblock %}
{% block sidebar_search %}{% endblock %}

{% block page_content %}
<div class="box">
    <div class="box-header with-border">
        <div class="box-tools pull-right">
            <div class="btn-group float-right" role="group">
            {% block topRight %}

            {% endblock %}
            </div>
        </div>
    </div>

    <div class="box-body">
        {% block body %}
        {% endblock %}
    </div>
</div>
{% endblock %}

{% block footer %}
<footer class="main-footer">
    <strong>Copyright &copy; 2020 <a href="#">Beerzzz</a>.</strong> All rights reserved.
</footer>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/adminlte/adminlte.js') }}"></script>
    {% block page_javascripts %}
    {% endblock %}
{% endblock %}
