{% extends '@AdminLTE/layout/default-layout.html.twig' %}
{% block logo_path %}{% endblock %}
{% block logo_mini %}{% endblock %}
{% block logo_large %}{% endblock %}

{% block footer %}
<footer class="main-footer">
    <strong>Copyright &copy; 2020 <a href="#">Beerzzz</a>.</strong> All rights reserved.
</footer>
{% endblock %}
