{% extends 'base.html.twig' %}

{% block page_title %}New Inventory Item{% endblock %}
{% block page_subtitle %}{% endblock %}

{% block topRight %}
    <a href="{{ path('inventory_item_index') }}" class="btn btn-default"><i class="fas fa-list"></i></a>
{% endblock %}

{% block body %}
    {{ include('inventory_item/_form.html.twig') }}
{% endblock %}
